/* Adjust site title font size and gap */
.site-title {
	gap: calc(var(--sl-nav-gap) / 2);

	> span {
		font-size: var(--sl-text-xl);
	}
}

/* Use custom font for site title and h1 */
.site-title, h1 {
	font-family: 'Dela Gothic One', Impact, 'Arial Black', system-ui;
}

/* Reduce the tab size in code blocks to 2 spaces */
code {
	tab-size: 2;
}

/* Change the color of the tip aside from purple to green to match GitHub's color scheme */
.starlight-aside--tip {
	--sl-color-asides-text-accent: var(--sl-color-green-high);
	--sl-color-asides-border: var(--sl-color-green);

	background-color: var(--sl-color-green-low);
}

/* Add space around sidebar topic separator */
.starlight-sidebar-topics::after {
	margin: 1rem 0 !important;
}
